Source: xubuntu-meta
Section: metapackages
Priority: optional
Maintainer: Xubuntu Developers <xubuntu-devel@lists.ubuntu.com>
Standards-Version: 3.9.8
Build-Depends: debhelper (>= 9), germinate (>= 1.18)

Package: xubuntu-desktop
Architecture: any
Depends: ${germinate:Depends}, ${misc:Depends}
Recommends: ${germinate:Recommends}
Description: Xubuntu desktop system
 This package depends on all of the packages in the Xubuntu desktop system
 .
 It is safe to remove this package if some of the desktop system packages are
 not desired.

Package: xubuntu-core
Architecture: any
Depends: ${germinate:Depends}, ${misc:Depends}
Recommends: ${germinate:Recommends}
Description: Xubuntu core system
 This package depends on the core set of a functional Xubuntu desktop system
 .
 It is safe to remove this package if some of the included packages are
 not desired.
